<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/about.js"></script>
</head>

<header id="header-index">
    <h1>LifeSpot - о проекте</h1>
    <!--Параграф-->
    <p>На сайте размещены прямые трансляции из разных точек мира.</p>
    <p>Все трансляции взяты из открытых источников, в данный момент с сайта youtube.com</p>
    <!--SLIDER-->
    <p>Отзыв о работе сайта можете оставить здесь</p>
    
</header>



<!--SIDEBAR-->
<body>
    <div class="reviews">
        <div class="review-button">
            <button onclick="getReview()">Оставить отзыв</button>
            
        </div>
    </div>
</body>
<!--FOOTER-->

</html>