<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="Static/JS/index.js"></script>
    <script>
        // проверка возраста и сохранение данных пользовательской сессии
        handleSession(logger, checker);
        // функция для получения пользовательского ввода    
        const inputParseFunction = function () {
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
    </script>
    <title>LifeSpot</title>
</head>
<header id="header-index">
    <!--Заголовок страницы-->
    <h1>LifeSpot - прямые трансляции с улиц</h1>
    <!--Параграф-->
    <p>Покажем, что происходит прямо сейчас</p>
</header>
<!--SIDEBAR-->
<body>

    <div class="bordered">

    
        <div id="search">
            <input type="text" oninput="
             filterContent();
            //contentFilter(document.getElementsByTagName('input')[0].value.toLowerCase())
            " size=50%>
        </div>

        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title"> Санкт-Петербург, Невский проспект</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title"> Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h3 class="video-title"> Лондон, автобусный маршрут</h3>
        </div>
    </div>



</body>
<!--FOOTER-->
</html>